# Visual Studio
.vs/
x64/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp

# NuGet packages
packages/
*.nupkg

# Temporary files
*.tmp
*.log
*~

